# Exclude environment variables file
.env

# ignore the .igtignore
.gitignore

# Exclude Python virtual environment
venv/

# Exclude VS Code settings
.vscode/

# Exclude Python bytecode cache
__pycache__/