# Exclude environment variables file
.env

# ignore the .igtignore
.gitignore

# ignore the firebase-config.json file
firebase-config.json

# Exclude Python virtual environment
venv/

# Exclude VS Code settings
.vscode/

# Exclude Python bytecode cache
__pycache__/

